/* Estilos de Talleres */
$Verde: #00703d;

.videos {
  justify-content: center;
  div {
    margin-top: 30px;
    padding: 5%;
    box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.3);
    text-decoration: none;
    text-align: center;
  }
}
